* {
    margin: 0;
    box-sizing: border-box;
}
/* Colors
- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    color:hsl(214, 17%, 51%);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5 {
    color:hsl(217, 19%, 35%);
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
}

h4 {
    font-size: 14px;
}

.image img {
    object-fit: cover;
    height: 280px;
    border-radius: 15px 0 0 15px;
}

.card-container {
    background-color: white;
    width: 730px;
    height: 280px;
    display: flex;
    border-radius: 15px;
    align-items: center;
}

.avatar img {
    border-radius: 100%;
    width: 40px;
    margin-right: 20px;
}

.share-link {
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.share-link img {
    margin: auto auto;
}

.description {
    margin: auto 40px;
    max-width: 50%;
    align-self: center;
}

.author-info {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.author {
    display: flex;
}

.info {
    margin-right: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    opacity: 40%;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

/* Mobile */
/* @media only screen and (max-width: 375px) {

} */

/* Desktop */
/* @media only screen and (max-width: 1440px) {

} */
